* {padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,
:active {outline: none;}
a:focus,
a:active {outline: none;}
nav,
footer,
header,
aside {display: block;}
html,
body {height: 100%;width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     height: 100%; font-weight: 300; 
     font-family:'DolomanPavljenko', sans-serif; 
     color: var(--color-main); 
     background: var(--color-white);
     height: 100dvh;min-width: 
     320px;scroll-behavior: smooth;}
input,
button,
textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
img {
  width: 100%;
}

@font-face {
  font-family: 'DolomanPavljenko';
  src:  url("../fonts/DolomanPavljenko.woff");
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-ExtraLight.woff");
        font-weight: 250;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Light.woff");
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Medium.woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Regular.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.main {
  flex: 1 1 auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.title h1{
  font-size: clamp(64px, 6.8vw, 98px);
  color: var(--color-main);
}
  /*
  1600px / 100px
  1vw = 16px
  100px / 16px = 6.25vw
  */
.subtitle {
    margin-bottom: 30px;
}
.subtitle h2{
  font-size: clamp(40px, 4.4vw, 64px);
}
:root {
  --color-main: #7C4549;
  --color-red: #8C0202;
  --color-white: #FFFFFF;
  --color-bg: #F4F4F4;
}
/*---------------------------------------header----------------------*/
.header__burger-wrapper {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 26px 0px;
}
.header a {
  color: var(--color-main);
}
.header.bg_active {
  background-color: var(--color-white);
  transition: all 0.2s;
}
.logo {
  z-index: 3;
  width: 63px;
  text-align: center;
}
.logo a {
  font-size: 10px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px 40px;
  margin-left: 30px;
}
.menu__list-item--mod {
  position: relative;
}
.menu__list-item--mod .categories__list {
  position: absolute;
  padding-top: 10px;
  border-radius: 25px;
  background-color: var(--color-bg);
  padding: 20px;
  margin-left: -20px;
  display: none;
  transition-behavior: allow-discrete;
  opacity: 0;
}
.menu__list-item--mod .categories__list li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__list-item--mod .categories__list li a {
  opacity: 0.8;
  font-size: 18px;
}
.menu__list-item--mod::after {
  position: absolute;
  content: '';
  border: 5px solid transparent; 
  border-top: 5px solid var(--color-red);
  top: 7px;
  left: 75px;
  cursor: pointer;
}
.menu__list-item a {
  font-size: 18px;
}
.button a {
  font-family: 'Unbounded';
  font-size: 12px;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 6px 13px;
  border-radius: 22px;
  border: 1px solid var(--color-red);
  display: block;
}
.button__transparent a {
  font-family: 'Unbounded';
  font-size: 18px;
  background-color: inherit;
  color: var(--color-main);
  padding: 9px 19px;
  border-radius: 30px;
  border: 1px solid var(--color-red);
  display: block;
}
/*---------------------------------------header----------------------*/

/*---------------------------------------main-section----------------------*/
.main-section {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(266deg, #d2d1d2 0%, #dbe0e4 100%);
}
.main-section__content {
  position: relative;
  padding: 141px 20px 168px 20px;
  margin-bottom: 80px;
}
.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__body {
  position: relative;
  z-index: 3;
}
.main-section__title {
  margin-bottom: 35px;
}
.main-section__text {
  margin-bottom: 67px;
  max-width: 395px;
}
.main-section__text p {
  font-size: clamp(16px, 1.2vw, 18px);
  font-family: 'Unbounded';
}
.main-section__text p:last-child {
  display: none;
}
.main-section__buttons {
  display: flex;
  align-items: center;
  gap: 10px 28px;
  flex-wrap: wrap;
  margin-bottom: 98px;
}
.main-section__buttons .button a{
  padding: 9px 19px;
  border-radius: 30px;
  font-size: 18px;
}
.main-section__timers { 
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.main-section__timer--one {
  flex-basis: 148px;
}
.main-section__timer--two {
  flex-basis: 90px;
}
.main-section__timer--three {
  flex-basis: 208px;
}
.main-section__timer-count {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(20px, 2.2vw, 32px);
  color: var(--color-red);
  width: 20px;
  height: 20px;
  margin-bottom: 22px;
}
.main-section__timer-title h3{
  font-family: 'Unbounded';
  font-size: clamp(14px, 1.1vw, 16px);
  font-weight: 300;
}
/*---------------------------------------main-section----------------------*/

/*---------------------------------------categories----------------------*/
.categories {
  margin-bottom: 80px;
}
.categories__blocks {
  display: grid;
  grid-template-columns: 480px 1fr 1fr;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  max-height: 538px;
}
.categories__block-1 {
  grid-row: 1 / 3;
}
.categories__block-4 {
  grid-column: 2 / 4;
}
.categories__block {
  background-color: var(--color-bg);
  border-radius: 20px;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}
.categories__block-title {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
}
.categories__block-title h3 {
  font-weight: 400;
  font-size: clamp(16px, 1.4vw, 20px);
  color: var(--color-main);
  font-family: 'Unbounded';
}
.categories__block-image {
  border-radius: 20px;
  height: 100%;
}
.categories__block-image img {
  transition: all 0.3s;
  height: 100%;
} 
/*---------------------------------------categories----------------------*/

/*---------------------------------------whowe----------------------*/
.whowe {
  padding-bottom: 80px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.whowe__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whowe__info {
  flex-basis: 720px;
  position: relative;
  text-align: center;
  padding: 60px 30px;
  background-color: var(--color-bg);
  border-radius: 25px;
  margin-right: -100px;
}
.whowe__info-title {
  max-width: 562px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.whowe__info-title h3 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(20px, 2.2vw, 32px);
  line-height: 135%;
}
.whowe__info-text p {
  font-family: 'Unbounded';
  font-size: 16px;
}
.whowe__info-text  p:not(:last-child) {
  margin-bottom: 25px;
}
.whowe__image {
  flex-basis: 562px;
}
.whowe__bg-left {
  position: absolute;
  bottom: -165px;
  z-index: -1;
  max-width: 383px;
}

/*---------------------------------------whowe----------------------*/

/*---------------------------------------order---------------------*/
.order {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px 80px 20px;
  position: relative;
}
.order__content .subtitle {
  margin-left: 105px;
}
.order__body {
  display: flex;
  gap: 36px 90px;
  margin-left: -20px;
}
.order__image {
  flex-basis: 441px;
}
.order__info {
  display: grid;
  grid-template-columns: 380px 380px;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.order__block {
  border-radius: 25px;
  background-color: var(--color-bg);
  padding: 40px 30px 30px 30px;
  position: relative;
  display: grid;
}
.order__block-title {
  display: flex;
  gap: 10px 30px;
  max-width: 250px;
  transition: all 0.3s;
}
.order__block-title span {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(32px, 4.4vw, 64px);
  color: var(--color-red);
  cursor: default;
}
.order__block-title h3 {
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: clamp(14px, 1.1vw, 16px);
  cursor: default;
}
.order__block-text {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 255px;
}
.order__block-text p {
  font-family: 'Unbounded';
  font-weight: 200;
  font-size: 16px;
  cursor: default;
}
.order__bg {
  position: absolute;
  top: -200px;
  z-index: -1;
  right: 0;
  max-width: 400px;
}
.order__image-mini {
  display: none;
}

/*--------------------------------------order----------------------*/

.contacts__map {
  max-width: 444px;
  position: relative;
}
.contacts__map-icon {
  width: 30px;
  position: absolute;
  top: 35%;
  left: 48.8%;
}
.contacts__info {
}
.contacts__info-top {
}
.contacts__info-box img {
  width: 26px;
}
/*---------------------------------------footer----------------------------*/


/*---------------------------------------footer----------------------------*/

/*-------------------------------------------popup
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content{
  max-width: 554px;
  background-color: #FFFFFF;
  padding: 70px 66px 35px;
  position: relative;
}
.popup__title{
  color: #000000;
  font-size: 25px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
form{
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}
.form input{
  font-weight: 400;
  font-size: 17px;
  line-height: 123%;
  color: #484848;
  border: 0.4px solid #000000;
  border-radius: 10px;
  padding: 17px 30px;
  margin-bottom: 30px;
  width: 100%;
}
.form button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 10px;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}
----------------------*/

/*------------------------------------------dropdown
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 27px 15px 19px;
}

.dropdown__button::after {
  content: '';
  position: absolute;
  top: 52%;
  right: 8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: #393939 transparent transparent transparent;
  border-style:  solid;
  pointer-events: none;
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 240px;
  left: 0;
  top: 42px;
  z-index: 1;
  background: #F1F1F1;
  padding: 17px 19px 25px 19px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown input {
  display: none;
}
.dropdown__list-item--mod {
  margin-bottom: 35px;
  color: #777777;
}
.dropdown__list-item--mod:hover {
  cursor: default;
  color: #777777;
}
.dropdown__button--active {
  width: 100%;
}
----------------------*/

/*------------------------------------------Checkbox
.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
----------------------*/

/*-----------------------------------------radio-button
.real-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
---------------------------*/

/*-------------------------------------------Accordion
.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #1280E5;
  border-top: none;
  color: #000000;
  background-color: #FFFFFF;
}
.accordion:first-child {
  border-top: 1px solid #1280E5;
}
.accordion__title.active {
  box-shadow: 0 0 12px 1px solid #1280E5;
}
.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}
.accordion__title span::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.accordion__title span::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.accordion__title.active span{
  transform: rotate(140deg);
}
.accordion__content {
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border: 1px solid #000000;
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
------------------------------------------------------------------------------------Accordion---*/

/*---------------------------------------------Tabs

.tabs {

}
.tabs-button.active-tab {
  background-color: #1280E5;
  border-right-color: #1280E5;
  color: #FFFFFF;
}
.tabs-content {
  display: none;
}
.tabs-content.active-tab {
  display: block;
}

-------------*/

/*---------------------------------------------Quiz

.quiz__progress {
  margin-bottom: 10px;
}
.quiz__progress-inner {
  background: var(--color-black);
  height: 2px;
  display: block;
  transition: all 0.8s ease 0s;
}
.quiz-form__title {
  margin-bottom: 15px;
}
.quiz-form__fieldset label{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.quiz-form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.quiz-form__radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
.quiz-form__buttons {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.quiz-form__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.quiz-form__checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
-------------*/

/*-------------------------------------------preloader

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  z-index: 999999999;
  opacity: 1;
  visibility: visible;

}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
.preloader__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes loading {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loading div {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 10px solid #5bb6e1;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading div {
  animation: loading 2s linear infinite;
  top: 80px;
  left: 80px;
}
.preloader__loading {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.loading div { box-sizing: content-box; }
----------------------------*/



/*---------------------------------------media----------------------------*/

/*---------------------------------------media-hover----------------------------*/
@media(hover:hover) {
  .button a:hover {
    transition: 0.3s;
    color: var(--color-main);
    background-color: inherit;
  }
  .button__transparent a:hover {
    transition: 0.3s;
    color: var(--color-white);
    background-color: var(--color-red);
  }
  .menu__list-item--mod:hover .categories__list {
    display: block;
    opacity: 1;
  }
  .categories__block:hover .categories__block-image img {
    transform: scale(1.1);
  }
  .order__block:hover .order__block-title{
    opacity: 0;
    transition: all 0.3s;
  }
  .order__block:hover .order__block-text {
    opacity: 1;
  }
}
/*---------------------------------------media-hover----------------------------*/


@media (max-width: 1300px) {

}

@media (max-width: 1050px) {
  .main-section__timers { 
    display: block;
    max-width: 200px;
  }
  .main-section__timer:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-section__timer-count {
    margin-bottom: 10px;
  }
  .main-section__buttons {
    display: inline-block;
  }
  .main-section__button {
    margin-bottom: 10px;
    text-align: center;
  }
  .categories__blocks {
    grid-template-columns: 1fr 1fr;
    max-height: 900px;
  }
  .categories__block-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    margin-right: -20px;
  }
  .categories__block-3 {
    margin-right: -20px;
    grid-column: 2 / 4;
  }
  .categories__block-4 {
    grid-column: 1 / 4;
  }
  .order__info {
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .order__body {
    flex-wrap: wrap;
    gap: 36px 90px;
    margin-left: 0px;
    justify-content: center;
  }
  .order__image {
    order: 1;
  }
}



@media (max-width: 770px) {
  .header__button {
    display: none;
  }
  .header {
    padding: 30px 0px;
  }
  .header__burger-wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 4;
  } 
  .header__burger{
    z-index: 2;
    cursor: pointer;
  }
  .header__burger span {
    height: 2px;
    width: 30px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: var(--color-red);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  .header__burger span:first-child {
    left: 60%;
    top: 4px;
  }
  .header__burger span:nth-child(2) {
    left: 60%;
    top: 15px;
  }
  .header__burger span:last-child {
    left: 60%;
    bottom: 10px;
  }
  .header__burger._active span:nth-child(2){
    opacity: 0;
  }
  .header__burger._active span:first-child{
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .header__burger._active span:last-child{
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
  .menu{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 100px 30px 30px 30px; 
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .menu._active{
    top: 0;
  }
  .menu__list-item:not(:last-child){
    margin-bottom: 30px;
  }
  .menu__list{
    display: block;
    position: relative;
    margin-left: 0px;
  }
  .categories__list.open-list {
    display: block;
    position: static;
    opacity: 1;
    transition: all 0.3s;
    @starting-style {
      opacity: 0;
    }
  }
  .main-section__text {
    max-width: 225px;
  }
  .menu__list-item--mod::after {
    position: absolute;
    content: '';
    border: 5px solid transparent; 
    border-top: 5px solid var(--color-red);
    top: 7px;
    cursor: pointer;
  }
  .categories__blocks {
    grid-template-columns: 1fr 1fr;
    max-height: 750px;
  }
}

@media (max-width: 600px) {
  .main-section__image img{
    opacity: 0.3;
  }
  .categories__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 100%;
  }
  .categories__block-2 {
    margin-right: 0px;
  }
  .categories__block-3 {
    margin-right: 0px;
  }
  .whowe__info {
    padding: 30px 23px;
    margin-right: -120px;
  }
  .whowe__info-title {
    padding-bottom: 24px;
  }
  .whowe__bg-left {
    bottom: -160px;
    max-width: 300px;
  }
  .order__info {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    flex-basis: 100%;
  }
  .order__block {
    width: 100%;
  }
  .order__bg {
    max-width: 332px;
    top: -26px;
    right: -135px;
  }
  .order__content .subtitle {
    margin-left: 0px;
  }
  .order__block-title {
    max-width: 100%;
  }
}

@media (max-width: 390px) {
  .main-section__image img{
    opacity: 1;
  }
  .main-section__content {
    padding: 144px 23px 150px 23px;
    margin-bottom: 59px;
  }
  .main-section__text p:first-child {
    display: none;
  }
  .main-section__text p:last-child {
    display: block;
  }
  .main-section__title {
    margin-bottom: 64px;
  }
  .main-section__text p {
    line-height: 20px;
  }
  .main-section__text {
    margin-bottom: 55px;
  }
  .main-section__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 57px;
  }
  .main-section__buttons .button a {
    padding: 10px 15px;
  }
  .main-section__button a {
    padding: 9px 15px;
  }
  .main-section__timer:not(:last-child) {
    margin-bottom: 27px;
  }
  .categories {
    margin-bottom: 57px;
  }
  .whowe {
    padding-bottom: 87px;
  }
  .whowe__info {
    margin-right: -262px;
    flex-basis: 913px;
    margin-top: 20px;
  }
  .whowe__image {
    margin-right: -20px;
    margin-top: -214px;
    flex-basis: 874px;
  }
  .whowe__body {
    margin-top: 150px;
  }
  .whowe__info-text p {
    line-height: 125%;
  }
  .order__block {
    padding: 20px 30px 20px 34px;
  }
  .order__image {
    max-width: 260px;
    margin-right: -165px;
  }
  .order__image-mini {
    display:block;
    position: absolute;
    left: 0;
    bottom: 59px;
  }
}
/*---------------------------------------media----------------------------*/