* {padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,
:active {outline: none;}
a:focus,
a:active {outline: none;}
nav,
footer,
header,
aside {display: block;}
html,
body {height: 100%;width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     height: 100%; font-weight: 300; 
     font-family:'DolomanPavljenko', sans-serif; 
     color: var(--color-main); 
     background: var(--color-white);
     height: 100dvh;min-width: 
     320px;scroll-behavior: smooth;}
input,
button,
textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
img {
  width: 100%;
}

@font-face {
  font-family: 'DolomanPavljenko';
  src:  url("../fonts/DolomanPavljenko.woff");
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-ExtraLight.woff");
        font-weight: 250;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Light.woff");
        font-weight: 300;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Medium.woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src:  url("../fonts/Unbounded-Regular.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.main {
  flex: 1 1 auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.title h1{
  font-size: clamp(64px, 6.8vw, 98px);
  color: var(--color-main);
}
.title-second {
  margin-bottom: 30px;
}
.title-second h1 {
  font-size: clamp(40px, 4.4vw, 64px);
}
  /*
  1600px / 100px
  1vw = 16px
  100px / 16px = 6.25vw
  */
.subtitle {
    margin-bottom: 30px;
}
.subtitle h2{
  font-size: clamp(40px, 4.4vw, 64px);
}
:root {
  --color-main: #7C4549;
  --color-red: #8C0202;
  --color-white: #FFFFFF;
  --color-bg: #F4F4F4;
}
/*---------------------------------------header----------------------*/
.header__burger-wrapper {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 26px 0px;
}
.header a {
  color: var(--color-main);
}
.header.bg_active {
  background-color: var(--color-white);
  transition: all 0.2s;
}
.logo {
  z-index: 5;
  width: 63px;
  text-align: center;
}
.logo a {
  font-size: 10px;
  color: var(--color-main);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px 40px;
  margin-left: 30px;
}
.menu__list-item--mod {
  position: relative;
}
.menu__list-item--mod .categories__list {
  position: absolute;
  padding-top: 10px;
  border-radius: 25px;
  background-color: var(--color-bg);
  padding: 20px;
  margin-left: -20px;
  display: none;
  transition-behavior: allow-discrete;
  opacity: 0;
}
.menu__list-item--mod .categories__list li:not(:last-child) {
  margin-bottom: 10px;
}
.menu__list-item--mod .categories__list li a {
  opacity: 0.8;
  font-size: 18px;
}
.menu__list-item a {
  font-size: 18px;
}
.button a {
  font-family: 'Unbounded';
  font-size: 12px;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 9px 19px;
  border-radius: 22px;
  border: 1px solid var(--color-red);
  display: block;
}
.button__transparent a {
  font-family: 'Unbounded';
  font-size: 18px;
  background-color: inherit;
  color: var(--color-main);
  padding: 9px 19px;
  border-radius: 30px;
  border: 1px solid var(--color-red);
  display: block;
}
.header__button--mod {
  display: none;
}
/*---------------------------------------header----------------------*/

/*---------------------------------------main-section----------------------*/
.main-section {
  position: relative;
  background: linear-gradient(266deg, #d2d1d2 0%, #dbe0e4 100%);
}
.main-section__content {
  position: relative;
  padding: 141px 20px 168px 20px;
  margin-bottom: 80px;
}
.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__body {
  position: relative;
  z-index: 3;
}
.main-section__title {
  margin-bottom: 35px;
}
.main-section__text {
  margin-bottom: 67px;
  max-width: 395px;
}
.main-section__text p {
  font-size: clamp(16px, 1.2vw, 18px);
  font-family: 'Unbounded';
}
.main-section__text p:last-child {
  display: none;
}
.main-section__buttons {
  display: flex;
  align-items: center;
  gap: 10px 28px;
  flex-wrap: wrap;
  margin-bottom: 98px;
}
.main-section__buttons .button a{
  padding: 9px 19px;
  border-radius: 30px;
  font-size: 18px;
}
.main-section__timers { 
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.main-section__timer--one {
  flex-basis: 148px;
}
.main-section__timer--two {
  flex-basis: 90px;
}
.main-section__timer--three {
  flex-basis: 208px;
}
.main-section__timer .count {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(20px, 2.2vw, 32px);
  color: var(--color-red);
  width: 20px;
  height: 20px;
  margin-bottom: 22px;
  display: block;
}
.main-section__timer-title h3{
  font-family: 'Unbounded';
  font-size: clamp(14px, 1.1vw, 16px);
  font-weight: 300;
}
/*---------------------------------------main-section----------------------*/

/*---------------------------------------categories----------------------*/
.categories {
  margin-bottom: 80px;
}
.categories__blocks {
  display: grid;
  grid-template-columns: 480px 1fr 1fr;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  max-height: 538px;
}
.categories__block-1 {
  grid-row: 1 / 3;
}
.categories__block-4 {
  grid-column: 2 / 4;
}
.categories__block {
  background-color: var(--color-bg);
  border-radius: 25px;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}
.categories__block-title {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 3;
}
.categories__block-title h3 {
  font-weight: 400;
  font-size: clamp(16px, 1.4vw, 20px);
  color: var(--color-main);
  font-family: 'Unbounded';
}
.categories__block-image {
  border-radius: 20px;
  height: 100%;
}
.categories__block-image img {
  transition: all 0.3s;
  height: 100%;
} 
/*---------------------------------------categories----------------------*/

/*---------------------------------------whowe----------------------*/
.whowe {
  padding-bottom: 80px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.whowe__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whowe__info {
  flex-basis: 720px;
  position: relative;
  text-align: center;
  padding: 60px 30px;
  background-color: var(--color-bg);
  border-radius: 25px;
  margin-right: -100px;
}
.whowe__info-title {
  max-width: 562px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.whowe__info-title h3 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(20px, 2.2vw, 32px);
  line-height: 135%;
}
.whowe__info-text p {
  font-family: 'Unbounded';
  font-size: 16px;
  line-height: 150%;
}
.whowe__info-text  p:not(:last-child) {
  margin-bottom: 25px;
}
.whowe__image {
  flex-basis: 562px;
}
.whowe__bg-left {
  position: absolute;
  bottom: -165px;
  z-index: -1;
  max-width: 383px;
}

/*---------------------------------------whowe----------------------*/

/*---------------------------------------order---------------------*/
.order {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px 39px 20px;
  position: relative;
  z-index: 2;
}
.order__content .subtitle {
  margin-left: 105px;
}
.order__body {
  display: flex;
  gap: 36px 90px;
  margin-left: -20px;
}
.order__image {
  flex-basis: 441px;
}
.order__info {
  display: grid;
  grid-template-columns: 380px 380px;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.order__block {
  border-radius: 25px;
  background-color: var(--color-bg);
  padding: 40px 30px 30px 30px;
  position: relative;
  display: grid;
}
.order__block-title {
  display: flex;
  gap: 10px 30px;
  max-width: 250px;
  transition: all 0.3s;
}
.order__block-title span {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(32px, 4.4vw, 64px);
  color: var(--color-red);
  cursor: default;
}
.order__block-title h3 {
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: clamp(14px, 1.1vw, 16px);
  cursor: default;
}
.order__block-text {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 255px;
}
.order__block-text p {
  font-family: 'Unbounded';
  font-weight: 200;
  font-size: 16px;
  cursor: default;
}
.order__bg {
  position: absolute;
  top: -200px;
  z-index: -1;
  right: 0;
  max-width: 400px;
}
.order__image-mini {
  display: none;
}
.contacts__content .subtitle {
  margin-bottom: 62px;
}
/*--------------------------------------order----------------------*/

/*---------------------------------------contacts----------------------------*/
.contacts {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.contacts__content {
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
}
.contacts__map {
  max-width: 444px;
  position: relative;
}
.contacts__map-icon {
  width: 30px;
  position: absolute;
  top: 35%;
  left: 48.8%;
}
.contacts__body,
.contacts__info-top {
  display: flex;
  justify-content: space-between;
  gap: 10px 25px;
}
.contacts__info-top {
  margin-bottom: 24px;
}
.contacts__info-box,
.contacts__info-box a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 18px;
}
.contacts__info-box img {
  width: 26px;
}
.contacts__info-box address {
  font-style: normal;
}
.contacts__info-box a {
  color: var(--color-main);
}
.contacts__info-form-title {
  margin-bottom: 20px;
}
.contacts__info-form-title h3{
  font-size: 20px;
}
form label{
  font-size: 16px;
  line-height: 109%;
}
form label input {
  display: block;
  padding: 15px;
  background-color: var(--color-bg);
  border-radius: 25px;
  width: 280px;
  margin: 10px 0px 14px 0px;
  border: 1px solid var(--color-bg);
}
form label input::placeholder {
  font-size: 16px;
  line-height: 109%;
}
.form__checkbox a {
  color: var(--color-main);
}
form button {
  font-family: 'Unbounded';
  display: block;
  font-size: 18px;
  padding: 15px 20px 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--color-red);
  margin-top: 10px;
  background-color: inherit;
  color: var(--color-main);
}
.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--color-bg);
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 55%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(1);
}

.contacts__bg-left {
  position: absolute;
  left: 0;
  max-width: 412px;
  top: 186px;
  z-index: 1;
}
.contacts__bg-right {
  position: absolute;
  max-width: 445px;
  top: -106px;
  right: 0;
  z-index: 1;
}
form input.error{
  border-color:var(--color-red);
}

form p {
  text-align: center;
  background-color: var(--color-bg);
  padding: 56px 26px;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Unbounded';
}
/*---------------------------------------contacts----------------------------*/

/*---------------------------------------footer----------------------------*/
.footer {
  margin-bottom: 57px;
  position: relative;
  z-index: 2;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.footer__block .logo {
  margin-bottom: 10px;
}
.footer__logo {
  max-width: 63px;
}
.footer__block-title {
  margin-bottom: 10px;
}
.footer__block-title h2 {
  font-size: 18px;
}
.footer__block-policy a {
  font-size: 12px;
  line-height: 146%;
  color: var(--color-main);
  opacity: 0.5;
}
.footer__title {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer__list--mod .footer__item a {
  font-size: 18px;
  color: var(--color-main);
  opacity: 1;
}
.footer__list--mod {
  display: flex;
  justify-content: space-between;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item a {
  font-size: 18px;
  color: var(--color-main);
  opacity: 0.8;
}
.footer__contacts .contacts__info-box{
  margin-bottom: 10px;
}

.footer__block-link {
  max-width: 30px;
}
/*---------------------------------------footer----------------------------*/

/*---------------------------------------------------------------------------Страница о нас----------------------------*/
.aboutus {
  margin-top: 111px;
  position: relative;
  margin-bottom: 80px;
}
.aboutus__content-breadcrumbs {
  margin-bottom: 60px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 10px 32px;
  flex-wrap: wrap;
}
.breadcrumbs__link {
  color: var(--color-main);
  font-size: 16px;
}
.breadcrumbs__link--mod {
  cursor: default;
  position: relative;
}
.breadcrumbs__link--mod::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  top: 7px;
  left: -20px;
  background-color: var(--color-main);
  border-radius: 3px;
}
.aboutus__body-bg {
  max-width: 514px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -111px;
}
.aboutus__text-wrapper {
  background: rgba(244, 244, 244, 0.8);
  border-radius: 25px;
  padding: 30px 10px;
  text-align: center;
  margin-bottom: 27px;
  position: relative;
}
.aboutus__text {
  font-family: 'Unbounded';
  max-width: 780px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 130%;
}
.aboutus__text p:not(:last-child) {
  margin-bottom: 20px;
}
.aboutus__blocks {
  display: flex;
  gap: 20px;
}
.aboutus__block {
  position: relative;
  max-width: 380px;
  background-color: var(--color-bg);
  border-radius: 25px;
}
.aboutus__block-inner {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.aboutus__block-title {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 10px;
  max-width: 250px;
}
.aboutus__block-title img {
  width: 55px;
  opacity: 0.5;
}
.aboutus__block-title h2 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 16px;
}
.aboutus__block-text p {
  font-family: 'Unbounded';
  font-size: 16px;
  line-height: 125%;
}
.aboutus__block-2,
.aboutus__block-3 {
  padding: 30px 20px 20px 20px;
}
.aboutus__block-2 {
  margin-top: 16px;

}
.aboutus__block-3 {
  margin-bottom: 20px;
  padding-top: 38px;
}
/*---------------------------------------------------------------------Страница о нас----------------------------*/


/*---------------------------------------------------------------------Страница вакансии----------------------------*/
.vacancy {
  margin-bottom: 46px;
  margin-top: 113px;
}
.vacancy__content .title-second{
  margin-bottom: -30px;
}
.vacancy__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
  position: relative;
}
.vacancy__body-title {
  background: rgba(244, 244, 244, 0.938);
  border-radius: 25px;
  padding: 70px 10px;
  text-align: center;
  margin-right: -20px;
  position: relative;
  z-index: 3;
  flex-basis: 600px;
  margin-top: 13px;
}
.vacancy__body-title h2 {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}
.vacancy__body-images {
  display: flex;
  align-items: center;
}
.vacancy__body-image1 {
  flex-basis: 423px;
  margin-right: -64px;
  position: relative;
  z-index: 2;
  margin-top: 70px;
}
.vacancy__body-image2 {
  max-width: 450px;
}
.accordion__wrapper {
  position: relative;
  z-index: 2;
}
.accordion__title {
  font-family: 'Unbounded';
  display: flex;
  align-items: center;
  font-size: clamp(16px, 1.4vw, 20px);
  font-weight: normal;
  cursor: pointer;
  border-top: none;
  padding-bottom: 26px;
}
.accordion__title span {
  border: 10px solid transparent; 
  border-top: 10px solid var(--color-red);
  margin-top: 10px;
  margin-left: 20px;
}
.accordion__title.active span{
  border: 10px solid transparent; 
  border-bottom: 10px solid var(--color-red);
  margin-top: 0px;
  margin-bottom: 10px;
}
.accordion__content {
  font-size: 16px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  background-color: var(--color-bg);
  border-radius: 25px;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.accordion__content > p {
  margin-bottom: 25px;
}
.accordion__content p {
  font-family: 'Unbounded';
  font-size: 16px;
}
.accordion__list {
  margin-bottom: 25px;
}
.accordion__list--mod li p {
  position: relative;
  padding-left: 25px;
}
.accordion__list--mod li p::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 7px;
  left: 12px;
  background-color: var(--color-main);
}
.vacancy__body-bg {
  position: absolute;
  max-width: 600px;
  left: -129px;
  top: 4px;
}
.vacancy__info {
  position: relative;
}
.vacancy__info-bg {
  position: absolute;
  max-width: 518px;
  right: -130px;
  top: -220px;
}
/*---------------------------------------------------------------------Страница вакансии----------------------------*/

/*--------------------------------------------------------------------Gallery---------------------------*/
.gallery {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.gallery__content {
  margin-top: 115px;
  margin-bottom: 80px;
}
.title-second {
  max-width: 680px;
}
.gallery__top-text {
  font-size: clamp(16px, 1.2vw, 18px);
  font-family: 'Unbounded';
}
.gallery__top-image {
  max-width: 513px;
  position: absolute;
  right: 0;
  top: -111px;
}
.gallery__top {
  margin-bottom: 80px;
}
.swiper {
  padding-bottom: 170px;
}
.swiper-wrapper {
  margin-left: 20px;
  height: 500px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color-bg);
  padding: 11px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: none;
}
.swiper-slide {
  opacity: 0.5;
  transition: 0.3s;
}
.swiper-slide-active {
  opacity: 1;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: var(--color-main);
}
.swiper-pagination-bullet-active {
  background-color: var(--color-red);
}
.gallery__block {
  background-color: var(--color-bg);
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}
.gallery__block img {
  transform: scale(1);
  transition: all 0.3s;
}
.swiper-slide:hover .gallery__block img{
  transform: scale(1.3);
}
.gallery__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 18px;
  flex-wrap: wrap;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.gallery__btn {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  color: var(--color-main);
  background-color: inherit;
  border: 1px solid var(--color-red);
  font-family: 'Unbounded';
}
.mixitup-control-active {
  background-color: var(--color-red);
  color: var(--color-white);
}
.btn-active {
  background-color: var(--color-red);
  color: var(--color-white);
}
.gallery__inner {
  height: 700px;
}
.gallery__inner-none {
  display: none;
}
.gallery__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/*-----------------------------------------------------------Gallery---------------------------*/


/*-----------------------------------------------------------Policy---------------------------*/
.policy {
  margin-top: 120px;
  margin-bottom: 80px;
}
.policy__content .title-second {
  max-width: 100%;
  text-align: center;
}
.policy__body-subtitle .subtitle{
  text-align: center;
}
.subtitle h3 {
  font-size: clamp(16px, 1.2vw, 18px);
}
.policy__body-text {
  font-size: clamp(16px, 1.4vw, 20px);
  margin-bottom: 10px;
}
.policy__body-list {
  margin-bottom: 20px;
  font-size: clamp(16px, 1.4vw, 20px);
}
.policy__body-list a {
  color: var(--color-main);
}
/*-----------------------------------------------------------Policy---------------------------*/

/*-----------------------------------------------------------404---------------------------*/
.section-error {
  padding: 120px 0px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.error__content {
  text-align: center;
}
.error__title h1 {
  font-family: 'Unbounded';
  font-size: clamp(20px, 1.6vw, 24px);
  margin-bottom: 30px;
  font-weight: 400;
}
.error__body {
  border-radius: 25px;
  padding: 70px;
  background-color: var(--color-bg);
  max-width: 767px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.error__body span {
  font-family: 'Unbounded';
  font-weight: 400;
  font-size: clamp(100px, 17.3vw, 250px);
  line-height: 115%;
}
.error__link {
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
.error__link a {
  font-family: 'Unbounded';
  font-size: clamp(20px, 1.6vw, 24px);
  font-weight: 400;
  color: var(--color-main);
  border-bottom: 2px solid var(--color-main);
}
.error__image-bg-left {
  position: absolute;
  max-width: 600px;
  top: -60px;
  left: -350px;
}
.error__image-bg-right {
  position: absolute;
  max-width: 520px;
  bottom: 0;
  right: -320px;
}

/*-----------------------------------------------------------404---------------------------*/


/*---------------------------------------media----------------------------*/

/*---------------------------------------media-hover----------------------------*/
@media(hover:hover) {
  .button a:hover {
    transition: 0.3s;
    color: var(--color-main);
    background-color: inherit;
  }
  .button__transparent a:hover {
    transition: 0.3s;
    color: var(--color-white);
    background-color: var(--color-red);
  }
  .menu__list-item--mod:hover .categories__list {
    display: block;
    opacity: 1;
  }
  .categories__block:hover .categories__block-image img {
    transform: scale(1.2);
  }
  .order__block:hover .order__block-title{
    opacity: 0;
    transition: all 0.3s;
  }
  .order__block:hover .order__block-text {
    opacity: 1;
  }
  form button:hover {
    transition: all 0.3s;
    background-color: var(--color-red);
    color: var(--color-white);
  }
  .aboutus__block:hover .aboutus__block-title img {
    transition: all 0.3s;
    opacity: 1;
  }
}
/*---------------------------------------media-hover----------------------------*/

@media (max-width: 1050px) {
  .main-section__timers { 
    display: block;
    max-width: 200px;
  }
  .main-section__timer:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-section__timer-count {
    margin-bottom: 10px;
  }
  .main-section__button {
    margin-bottom: 10px;
    text-align: center;
  }
  .categories__blocks {
    grid-template-columns: 1fr 1fr;
    max-height: 900px;
  }
  .categories__block-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    margin-right: -20px;
  }
  .categories__block-3 {
    margin-right: -20px;
    grid-column: 2 / 4;
  }
  .categories__block-4 {
    grid-column: 1 / 4;
  }
  .order__info {
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .contacts__info-top {
    flex-wrap: wrap;
  }
  .contacts__bg-left {
    max-width: 300px;
    top: 200px;
  }
  .contacts__bg-right {
    max-width: 300px;
    top: 0;
  }
  .aboutus__block-4 {
    margin-top: -50px;
  }
  .aboutus__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .vacancy__body-bg {
    position: absolute;
    max-width: 500px;
    left: 0;
    top: 0;
  }
  .vacancy__info-bg {
    max-width: 400px;
    top: -100px;
  }
  .gallery__top-image {
    max-width: 250px;
    top: 50px;
  }
  .swiper {
    padding-bottom: 70px;
  }
  .gallery__inner {
    height: 100%;
  }
  .swiper-wrapper {
    height: 100%;
  }
}


@media (max-width: 850px) {
  .order__body {
    flex-wrap: wrap;
    gap: 36px 90px;
    margin-left: 0px;
    justify-content: center;
  }
  .order__image {
    order: 1;
  }
  .contacts__body {
    flex-wrap: wrap;
    margin-top: 172px;
  }
  .contacts__bg-left {
    display: none;
  }
  .contacts__info-top {
    position: absolute;
    top: 70px;
    padding: 0px 20px;
    left: 0;
  }
  .vacancy__body-bg {
    max-width: 400px;
    top: 0;
  }
  .vacancy__info-bg {
    max-width: 300px;
    top: -180px;
  }
}


@media (max-width: 770px) {
  .header__button--mod {
    display: inline-block;
  }
  .header__button{
    display: none;
  }
  .header {
    padding: 15px 0px;
  }
  .header__burger-wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 4;
  } 
  .header__burger-wrapper {
    z-index: 5;
    cursor: pointer;
  }
  .header__burger-wrapper span {
    height: 2px;
    width: 30px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: var(--color-red);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  .header__burger-wrapper span:first-child {
    left: 60%;
    top: 4px;
  }
  .header__burger-wrapper span:nth-child(2) {
    left: 60%;
    top: 15px;
  }
  .header__burger-wrapper span:last-child {
    left: 60%;
    bottom: 10px;
  }
  .header__burger-wrapper._active span:nth-child(2){
    opacity: 0;
  }
  .header__burger-wrapper._active span:first-child{
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .header__burger-wrapper._active span:last-child{
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
  .menu{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 120px 30px 30px 30px; 
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu._active{
    top: 0;
  }
  .menu__list-item:not(:last-child){
    margin-bottom: 30px;
  }
  .menu__list{
    display: block;
    position: relative;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .categories__list.open-list {
    display: block;
    position: static;
    opacity: 1;
    transition: all 0.3s;
    @starting-style {
      opacity: 0;
    }
  }
  .main-section__text {
    max-width: 225px;
  }
  .categories__blocks {
    grid-template-columns: 1fr 1fr;
    max-height: 750px;
  }
  .aboutus__block-wrapper {
    display: flex;
    flex-direction: column;
  }
  .aboutus__block-3 {
    order: 1;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .aboutus__block {
    max-width: 450px;
  }
  .aboutus__body-bg {
    top: -20px;
    transform: translate(0%);
    right: -100px;
 }
 .vacancy__body {
  flex-wrap: wrap;
 }
 .vacancy__body-title {
  order: 1;
  flex-basis: 100%;
 }
}

@media (max-width: 600px) {
  .categories__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 100%;
  }
  .categories__block-2 {
    margin-right: 0px;
  }
  .categories__block-3 {
    margin-right: 0px;
  }
  .whowe__info {
    padding: 30px 23px;
    margin-right: -120px;
  }
  .whowe__info-title {
    padding-bottom: 24px;
  }
  .whowe__bg-left {
    bottom: -160px;
    max-width: 300px;
  }
  .order__info {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    flex-basis: 100%;
  }
  .order__block {
    width: 100%;
  }
  .order__bg {
    max-width: 332px;
    top: -26px;
    right: -135px;
  }
  .order__content .subtitle {
    margin-left: 0px;
  }
  .order__block-title {
    max-width: 100%;
  }
  .vacancy__info-bg {
    max-width: 250px;
    top: -200px;
    right: -70px;
  }
  .vacancy__body-bg {
    max-width: 400px;
    top: 0;
    left: -150px;
  }
  .gallery__top-image {
    max-width: 200px;
    top: 100px;
    right: -50px;
  }
  .gallery__top-text {
    max-width: 211px;
  }
  .gallery__block {
   margin: 0px 20px;
  }
  .swiper-slide {
    opacity: 1;
  }
  .swiper-wrapper {
    margin-left: 0px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 40%;
  }
  .swiper-button-prev {
    margin-left: 10px;
  }
  .swiper-button-next {
    margin-right: 10px;
  }
  .error__body {
    padding: 25px 17px;
  }
  .error__image-bg-left {
    position: absolute;
    max-width: 400px;
    top: 0px;
    left: -200px;
  }
  .error__image-bg-right {
    position: absolute;
    max-width: 480px;
    bottom: -200px;
    right: -150px;
  }
  .section-error {
    padding: 100px 0px;
  }
}

@media (max-width: 390px) {
  .main-section__image img{
    opacity: 1;
  }
  .main-section__content {
    padding: 144px 23px 150px 23px;
    margin-bottom: 59px;
  }
  .main-section__text p:first-child {
    display: none;
  }
  .main-section__text p:last-child {
    display: block;
  }
  .main-section__title {
    margin-bottom: 64px;
  }
  .main-section__text p {
    line-height: 20px;
  }
  .main-section__text {
    margin-bottom: 55px;
  }
  .main-section__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 57px;
  }
  .main-section__buttons .button a {
    padding: 10px 15px;
  }
  .main-section__button a {
    padding: 9px 15px;
  }
  .main-section__timer:not(:last-child) {
    margin-bottom: 27px;
  }
  .categories {
    margin-bottom: 57px;
  }
  .whowe {
    padding-bottom: 87px;
  }
  .whowe__info {
    margin-right: -262px;
    flex-basis: 913px;
    margin-top: 20px;
  }
  .whowe__image {
    margin-right: -20px;
    margin-top: -214px;
    flex-basis: 874px;
  }
  .whowe__body {
    margin-top: 150px;
  }
  .whowe__info-text p {
    line-height: 125%;
  }
  .order {
    padding-bottom: 61px;
  }
  .order__block {
    padding: 20px 30px 20px 34px;
  }
  .order__image {
    max-width: 270px;
    margin-right: -165px;
  }
  .order__image-mini {
    display:block;
    position: absolute;
    left: 0;
    bottom: 38px;
  }
  .contacts__info-box, .contacts__info-box a {
    font-size: 20px;
  }
  .contacts__bg-right {
    max-width: 346px;
    top: -84px;
    right: -10px;
  }
  .footer__list--mod {
    display: block;
  }
  .footer__body {
    gap: 10px 120px;
  }
  .footer__block-link {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .footer {
    margin-bottom: 30px;
  }
  .aboutus__content-breadcrumbs {
    margin-bottom: 30px;
  }
  .vacancy {
    margin-top: 115px;
  }
  .vacancy__body {
    margin-bottom: 56px;
  }
  .vacancy__content .title-second {
    margin-bottom: 2px;
  }
  .vacancy__body-image1 {
    flex-basis: 367px;
    margin-top: 47px;
    margin-right: -28px;
  }
  .vacancy__body-image2 {
    max-width: 192px;
  }
  .vacancy__body-title {
    margin-top: 28px;
  }
  .vacancy__body-bg {
    max-width: 307px;
    top: 37px;
    left: -113px;
  }
  .vacancy__info-bg {
    max-width: 298px;
    top: -250px;
    right: -131px;
  }
  .gallery__buttons {
    justify-content: start;
    gap: 10px 70px;
    margin-left: 20px;
  }
  .gallery__top {
    margin-bottom: 28px;
  }
  .gallery__top-image {
    max-width: 220px;
  }
  .gallery__content {
    margin-bottom: 30px;
  }
}
/*---------------------------------------media----------------------------*/